{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="style.css">
<br>
<br>
<div class="goal" style="float:left; margin:3px">
  <h3> You have succeeded in  {{ goal }} </h3>
</div>

<img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 2000px>

{%for habit in habits%}
  <h1 class="tooltip">{{ habit.name }}</h1> 
  <img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 2000px>
{%endfor%}

<h1>Novels</h>
{% endblock %}

<style>
.goal {
  align:center;
  text-align:center; 
  background:#E6E6FA; 
  width:800px;
  height:50px;
  margin-left: 200px;
  text-align: center;    
  text-color: black;
  
}
</style>