{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<h2>Your main goal:{{ goal }}</h2>

<img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 2000px>

{%for habit in habits%}
  <h1 class="tooltip">{{ habit.name }}</h1> 
  <img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 2000px>
{%endfor%}

<h1>Novels</h>
{% endblock %}