{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="style.css">
<br>
<br>
<div class="goal" style="float:left; align:center; margin-left:200px">
    <p style="font-size:20px">I have succeeded in </p>
</div>
<br>
<br>

<div class="badge">
<img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 200px>
<h4>Novels</h4>
</div>



<div>
  {%for habit in habits%}
  <section>
  <div class='badge'>
      <img src="{{ url_for('static', filename='images/badge.jpg') }}" alt="Badge", width=200px, height = 200px>
      <h1>{{habit.name}}</h1>    
  </div>
  </section>
  {%endfor%}
</div>










<style>
.goal {
  align:center;
  text-align:center; 
  background:#E6E6FA; 
  width:800px;
  height:50px;
  margin-left:600px;
  text-align:center;    
  text-color:black;
  
}

.badge {
  margin-left:30px;
  outline:line;

}
</style>
{% endblock %} 