{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<h1>Your main goal:{{ goal }}</h1>

<form action="{{ url_for('add_habit')}}", method="post" >
  <input type="text" name="habit" placeholder = "New Habit"/></br>
  <button class="button-37" type="submit">Add</button>
</form></br>

{%for habit in habits%}
  <h1 class="tooltip">{{ habit.name }}</h1> 
  <progress id="file" max="100" value="{{ habit.completion }}" height='100px' width = '500px'> {{ habit.completion }} </progress>
{%endfor%}


{% endblock %}

<style>
.h1 { 
  text-align: center; 
  text-color: black; 

}



</style>
    .tooltip {
      position: relative;
      
      
    }
    
    .tooltip .tooltiptext {
      font-size: 17px;
      visibility: hidden;
      width: 120px;
      background-color: #D5BAEA;
      color: black;
      text-align: center;
      border-radius: 4px;
      padding: 1px 0;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
