{% extends "layout.html" %}
{% block header%}
<div class = "new">
  <h1>My goal is {{ goal }}</h1>
</div>
  <br>
  <br>
  <div class = "habit">
  <form action="{{ url_for('add_habit')}}", method="post" >
    <input type="text" name="habit" placeholder = "Add a new habit here"/></br>
    <button class="button-37" type="submit">+</button>
  </form></br>
  </div>
  <br>
  <br>
  <div class = "track">
  {%for habit in habits%}
    <h1 class="tooltip">{{ habit.name }}</h1> 
    <br>
    <progress id="file" max="100" value="{{ habit.completion }}" height='100px' width = '500px'> {{ habit.completion }} </progress>
  {%endfor%}
  <div>
{% endblock %} 
  
  
  
<style>

  .new {
    text-align:center;  
    text-color: #B96FF2;
  }

  .habit {
    align:center;
  }
  .track {
    align: center;
    outline: none; 
    margin-left: 50px; 
  }
      .button-37 {
          background-color: #9747FF;
          border: 1px solid #9747FF;
          border-radius: 100px;
          box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
          box-sizing: border-box;
          color: white;
          cursor: pointer;
          font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
          font-size: 16px;
          font-weight: 400;
          outline: none;
          outline: 0;
          padding: 10px 25px;
          text-align: center;
          transform: translateY(0);
          transition: transform 150ms, box-shadow 150ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          width: 70px;
        }
        
        .button-37:hover {
          box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
          transform: translateY(-2px);
        }
        
        @media (min-width: 768px) {
          .button-37 {
            padding: 10px 30px;
          }
        }
    form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    bottom: 50px;
    font-size: 20px;
    }
    
    progress {
      height: 100px;
      width: 600px
      align: center;
    }



</style>
    .tooltip {
      position: relative;
      
      
    }
    
    .tooltip .tooltiptext {
      font-size: 17px;
      visibility: hidden;
      width: 120px;
      background-color: #D5BAEA;
      color: black;
      text-align: center;
      border-radius: 4px;
      padding: 1px 0;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
