<!DOCTYPE html>
{%import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <style>
        
        h1 {
            color: purple;
            text-align: center;
        }
        
        p {
            font-family: verdana;
            font-size: 15px; 
            text-align: center;
        }
    </style>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class='flashes'>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif%}
    {% endwith %}
    <div style="text-align: center;">
        <form action="http://localhost:5000/" method="post">
        <div style="display: inline-block; text-align: left;">
            <h1>Login Page</h1> <br />
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.remember) }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            <div>
            Don't have an account yet? 
        <p>             Click <a href="http://localhost:5000/register", style = "...">here</a> to register.</p>

        </form>

        </div>
    </div>
</head>

</html>