{% extends "layout.html" %}
{% block header%}
<link rel="stylesheet" href="style.css">
<br>
<div class="goal" style="float:left; align:center; margin-left:200px, marin-right:200px">
    <p style="color:#696666;font-size:20px"> My goal is {{ goal }} </p>
</div>

<style>

.btn-outline-danger {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.goal {
    align:center;
    text-align:center;
    background:#E6E6FA; 
    height:50px;
  
  }
.collapsible {
    background-color: #CEADE9;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
}
    
.active, .collapsible:hover {
    background-color: #782DB2;
}
    
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
}
    
.active:after {
    content: "\2212";
}
    
.content {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;
}

.button-37 {
    background-color: #9747FF;
    border: 1px solid #9747FF;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 50px;

  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }
.actions {
	margin-left:100px;
    outline:8px ridge rgba(100, 40, 90, .6);
}

</style>
<br>
{%for action in db_week_action%}
<div class="actions">
<section>
    <div>
        {% if action.completed == true %}
        <p id = '{{ action.id }}' src="img_logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69"><button class="btn-outline-danger"><a class="todo" href="{{ url_for("change_status", action_id=action.id) }}"><s>{{action.name}}</s></a></button>
        </p>
        {% else %}
        <p id = '{{ action.id }}' src="img_logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69"><button class="btn-outline-danger"><a class="todo" href="{{ url_for("change_status", action_id=action.id) }}">{{action.name}}</a></button></p>
        
        {% endif %}
        
    </div>
</section>
<div>
{%endfor%}

{% for habit in habits %}
<button type="button" class="collapsible" contenteditable="true">{{ habit.name }}</button>
<div class="content">
<br>
    <form action="{{ url_for('add_action', habit_id = habit.id)}}", method="post" >
        <input type="text" name="name" placeholder = "New Action"/></br>
        <br>
        <button class="button-37" type="submit">Add</button>
    </form></br>

    {% for j in range (1, 4) %}
    <button type="button" class="collapsible">Week {{ j }}</button>
        <div class="content">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>     
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <br>
    {%endfor%}
</div>
<br>
{%endfor%}
<div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
    
for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
        content.style.maxHeight = null;
    } else {
        content.style.maxHeight = content.scrollHeight + "px";
    } 
});
}
</script>

<script>
function allowDrop(ev) {
    ev.preventDefault();
}
    
function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}
    
function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>

{% endblock %} 


