{% extends "layout.html" %}
{% block header%}

<h2>Your main goal:{{ goal }}</h2>
<style>
.collapsible {
    background-color: #CEADE9;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
    
.active, .collapsible:hover {
    background-color: #782DB2;
}
    
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
    
.active:after {
    content: "\2212";
}
    
.content {
    max-height: 0;
    overflow: hidden;
    padding: 0 18px;

}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<button type="button" class="collapsible" contenteditable="true">Habit 1</button>
<div class="content">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <button type="button" class="collapsible" contenteditable="true">Week 1</button>

        <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible" contenteditable="true">Week 2</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible"contenteditable="true">Week 3</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
</div>
<button type="button" class="collapsible" contenteditable="true">Habit 2</button>
<div class="content">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <button type="button" class="collapsible" contenteditable="true">Week 1</button>

        <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible" contenteditable="true">Week 2</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible"contenteditable="true">Week 3</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
</div>
<button type="button" class="collapsible" contenteditable="true">Habit 3</button>
<div class="content">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <button type="button" class="collapsible" contenteditable="true">Week 1</button>

        <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible" contenteditable="true">Week 2</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
    <button type="button" class="collapsible"contenteditable="true">Week 3</button>

    <div class="content">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <body>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        M</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Tu</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        W</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Th</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        F</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        St</div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="width: 150px; float:left; height:150px; background:#EAD4FB; margin:3px">
        Sn</div>
    </div>
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
    
for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
        content.style.maxHeight = null;
    } else {
        content.style.maxHeight = content.scrollHeight + "px";
    } 
});
}
</script>

<script>
function allowDrop(ev) {
    ev.preventDefault();
}
    
function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}
    
function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>

<p id = '1' src="img_logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69">Action N</p>  


{% endblock %}